:root {
    --color-darkest-cyan: hsl(183, 100%, 15%);
    --color-darker-cyan: hsl(186, 14%, 43%);
    --color-dark-cyan: hsl(184, 14%, 56%);
    --color-light-cyan: hsl(185, 41%, 84%);
    --color-lighter-cyan: hsl(189, 41%, 97%);
    --color-cyan: hsl(172, 67%, 45%);
  }

*:focus {
    outline: none;
}
* {
    border: 0;
    margin: 0;
    font-family: Space Mono;
}

body {
    background-color: var(--color-light-cyan);
}

header {
    text-align: center;
    margin: 40px;
}

h1 {
    color: var(--color-darkest-cyan);
    font-size: 1.2em;
    letter-spacing: 10px;
    text-transform: uppercase;
}

label, legend {
   color: var(--color-darker-cyan);
   margin: 20px 0 10px 0;
   font-size: .8em;
   font-weight: 600;
}

legend {
    margin: 0 0 10px -10px;
}

fieldset {
    margin-top: 20px;
}
.input-wrapper {
    background-color: var(--color-lighter-cyan);
    border-radius: 5px;
    width: 99%;
    height: 40px;
}

input[name="userInput"] {
    background-color: var(--color-lighter-cyan);
    position: absolute;
    right: 10px;
    width: 35%;
    height: 30px;
    color: var(--color-darkest-cyan);
    font-weight: 600;
    font-size: 1.6em;
    direction: RTL;
}

.num-ppl-input {
    width: 12%;
    direction: RTL;
}

input[type="radio"] {
    border: none;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--color-dark-cyan);
    font-weight: 600;
    font-size: 1.1em;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: var(--color-dark-cyan);
    font-weight: 600;
    font-size: 1.1em;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: var(--color-dark-cyan);
    font-weight: 600;
    font-size: 1.1em;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: var(--color-dark-cyan);
    font-weight: 600;
    font-size: 1.1em;
  }

.select-tip-section label:not(fieldset label:last-child){
    background-color: var(--color-darkest-cyan);
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 4px;
    max-width: 110px;
    box-sizing: border-box;
    padding: 7px 12px;
    text-align: center;
    cursor: pointer;
    text-align: center;
}

.select-tip-section label:not(fieldset label:last-child):hover {
    background-color: var(--color-cyan);
}

fieldset label:last-child {
    background-color: var(--color-lighter-cyan);
    color: var(--color-dark-cyan);
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 4px;
    max-width: 110px;
    box-sizing: border-box;
    padding: 7px 12px;
    text-align: center;
    cursor: pointer;
    text-align: center;
}

input:hover {
    cursor: pointer;
}
.dollar-sign, .person-icon {
    width: 10px;
    position: absolute;
    left: 10px;
    top: 35px;
}

.font-in-white {
    color: white;
}

.calculator-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator-wrapper {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
}

.bill-section, .num-people-section {
    position: relative;
}

.select-tip-section {
    display: grid;
    grid-template-columns: 120px 120px;
    justify-content: center;
}
.tip {
    justify-content: left;
}

.custom-amount {
    background-color: var(--color-lighter-cyan);
    color: hsl(186, 14%, 43%);
    width: 60px;

}
.total {
    background-color: var(--color-darkest-cyan);
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    margin-top: 20px;
    position: relative;
}

.total p {
    font-weight: 600;
    font-size: .8em;
}

.total p:nth-child(odd) {
    margin-top: 20px;
}

.total p:nth-child(even) {
    color: var(--color-dark-cyan);
}
.reset {
    border-radius: 5px;
    height: 35px;
    color: var(--color-darkest-cyan);
    font-weight: 600;
    background-color: var(--color-cyan);
    color: var(--color-darkest-cyan);
    width: 100%;
    margin-top: 20px;
}

.val {
    margin-left: 20vh;
}

span {
    position: absolute;
    right: 10px;
    height: 40px;
    font-size: 1.5em;
    direction: RTL;
    color: var(--color-cyan);
}
footer {
    margin-top:30px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: var(--color-darkest-cyan); 
    text-decoration: none;
}

@media (min-width: 360px) {
    .calculator-wrapper {
        width: 320px;
    }
}


@media (min-width: 600px) {
    .calculator-wrapper {
        display: flex;
        width:  620px;
        padding: 20px;
        gap: 10px;
    }
    .bill-section{
        width: 300px;
    }
    .total {
        width: 250px;
        margin-top: 0;
        margin-left: 20px;
        font-display: flex;
        align-items: space-around;
    }

    .select-tip-section label {
        width: 90px;
        margin: 5px;
    }
    .select-tip-section {
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }


    .total p:nth-child(odd) {
        font-size: .9em;
        margin-top: 20px;
    }

    .total p:nth-child(even) {
        font-size: .8em;
    }

    .reset {
        margin-top: 80px;
    }
}