:root {
    --color-darkest-cyan: hsl(183, 100%, 15%);
    --color-darker-cyan: hsl(186, 14%, 43%);
    --color-dark-cyan: hsl(184, 14%, 56%);
    --color-light-cyan: hsl(185, 41%, 84%);
    --color-lighter-cyan: hsl(189, 41%, 97%);
    --color-cyan: hsl(172, 67%, 45%);
  }

*:focus {
    outline: none;
}
* {
    border: 0;
    margin: 0;
    font-family: Space Mono;
}

body {
    background-color: var(--color-light-cyan);
}

header {
    text-align: center;
    margin: 40px;
}

h1 {
    color: var(--color-darkest-cyan);
    font-size: 1.2em;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.font-title {
   color: var(--color-darker-cyan);
   margin: 20px 0 10px 0;
   font-size: .8em;
   font-weight: 600;
}

.input-wrapper {
    background-color: var(--color-lighter-cyan);
    border-radius: 5px;
    width: 99%;
    height: 35px;
}

input {
    background-color: var(--color-lighter-cyan);
    position: absolute;
    right: 10px;
    width: 35%;
    height: 30px;
    color: var(--color-darkest-cyan);
    font-weight: 600;
    font-size: 1.6em;
    direction: RTL;
}

.num-ppl-input {
    width: 12%;
    direction: RTL;
}

button {
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    width: 120px;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
}
.dollar-sign, .person-icon {
    width: 10px;
    position: absolute;
    left: 10px;
    margin-top: 10px;
}

.font-in-white {
    color: white;
}

.calculator-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator-wrapper {
    background-color: white;
    border-radius: 20px;
    width: 320px;
    padding: 20px;
}

.bill-section, .num-people-section {
    position: relative;
}

.select-tip-section {
    display: grid;
    grid-template-columns: 130px 130px;
    justify-content: center;
}
.tip {
    justify-content: left;
}

.custom-amount {
    background-color: var(--color-lighter-cyan);
    color: hsl(186, 14%, 43%);
}
.total {
    background-color: var(--color-darkest-cyan);
    border-radius: 5px;
    padding: 30px 20px 10px 20px;
    margin-top: 30px;
    position: relative;
    
}

.total p:nth-child(even) {
    color: var(--color-dark-cyan);
}
.reset {
    background-color: var(--color-cyan);
    color: var(--color-darkest-cyan);
    width: 100%;
}

.val {
    margin-left: 20vh;
}

span {
    position: absolute;
    right: 10px;
    height: 40px;
    font-size: 1.5em;
    direction: RTL;
    color: var(--color-cyan);
}
footer {
    margin-top:30px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: var(--color-darkest-cyan); 
    text-decoration: none;
}